services:

  kafka-server:
    image: bitnami/kafka:3.9.0
    restart: always
    ports:
      - "9095:9095"
    environment:
      # KRaft 基础配置
      - KAFKA_ENABLE_KRAFT=yes
      - KAFKA_CFG_PROCESS_ROLES=controller,broker
      - KAFKA_CFG_NODE_ID=1
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=1@10.4.0.20:9093
      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER

      # SSL 核心参数
      - KAFKA_CFG_INTER_BROKER_LISTENER_NAME=SSL
      - KAFKA_CFG_SSL_PROTOCOL=TLSv1.2
      - KAFKA_CFG_SSL_CLIENT_AUTH=none  # 生产环境建议改为 required
      - KAFKA_CFG_SSL_KEYSTORE_LOCATION=/bitnami/kafka/config/certs/kafka.keystore.jks
      - KAFKA_CFG_SSL_KEYSTORE_PASSWORD=yourpassword
      - KAFKA_CFG_SSL_KEY_PASSWORD=yourpassword
      - KAFKA_CFG_SSL_TRUSTSTORE_LOCATION=/bitnami/kafka/config/certs/kafka.truststore.jks
      - KAFKA_CFG_SSL_TRUSTSTORE_PASSWORD=yourpassword

      # 监听器配置（关键！）
      - KAFKA_CFG_LISTENERS=INTERNAL://:9092,CONTROLLER://:9093,SSL://:9095  # 移除9094，将INTERNAL绑定到9092
      - KAFKA_CFG_ADVERTISED_LISTENERS=SSL://kafka-broker:9095,INTERNAL://10.4.0.20:9092  # 内部服务地址改为9092
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,SSL:SASL_SSL,INTERNAL:PLAINTEXT  # 移除PLAINTEXT相关映射

      # SASL 认证（与 SSL 叠加）
      - KAFKA_CFG_SASL_ENABLED_MECHANISMS=PLAIN
      - KAFKA_CFG_SASL_MECHANISM_INTER_BROKER_PROTOCOL=PLAIN
      - KAFKA_CLIENT_USERS=user1
      - KAFKA_CLIENT_PASSWORDS=password1

    volumes:
      - ./kafka/kafka-certs:/bitnami/kafka/config/certs
    networks:
      honey_network:
        ipv4_address: 10.4.0.20

  filebeat:
    image: elastic/filebeat:7.5.1
    volumes:
      - ./test:/app/ttm
      - ./filebeat/filebeat.yml:/usr/share/filebeat/filebeat.yml
    networks:
      honey_network:
        ipv4_address: 10.4.0.21

  logstash:
    image: logstash:7.12.1
    volumes:
      - ./logstash/logstash.conf:/usr/share/logstash/pipeline/logstash.conf
    extra_hosts:
      - "elasticsearch:10.4.0.5"  # 虚拟主机名映射
    networks:
      honey_network:
        ipv4_address: 10.4.0.22

  kibana:
    image: kibana:7.12.0
    ports:
      - '5601:5601'
    environment:
      - ELASTICSEARCH_HOSTS=http://10.4.0.5:9200
      - ELASTICSEARCH_USERNAME=elastic
      - ELASTICSEARCH_PASSWORD=yourpassword
      - XPACK_SECURITY_ENABLED=true
    volumes:
      - ./kibana/kibana.yml:/usr/share/kibana/config/kibana.yml
    extra_hosts:
      - "elasticsearch:10.4.0.5"  # 虚拟主机名映射
    networks:
      honey_network:
        ipv4_address: 10.4.0.23

networks:
  honey_network:
    name: honey_network
    external: true