services:
  suricata:
    image: jasonish/suricata:7.0.10  # 指定具体版本
    network_mode: host  # 必须使用主机模式监听网卡
    cap_add:
      - NET_ADMIN
      - NET_RAW
      - SYS_NICE  # 必需的能力
    volumes:
      - ./suricata:/etc/suricata
      - ./suricata/logs:/var/log/suricata         # 挂载日志目录
    command: -i ens33  # 指定监听的网卡（需替换为实际网卡名）
    restart: always
    environment:
      TZ: Asia/Shanghai
  node_server:
    image: node_server:v1.0.1
    network_mode: host
    restart: always
    cap_add:
      - NET_ADMIN
      - NET_RAW
    volumes:
      - ./node_server/settings.yaml:/app/settings.yaml
      - ./node_server/gorm.db:/app/gorm.db
      - ./suricata/logs:/var/log/suricata         # 挂载日志目录
      - ./node_server/logs:/app/logs