services:
  suricata:
    image: jasonish/suricata:7.0.10  # 指定具体版本
    container_name: suricata
    network_mode: host  # 必须使用主机模式监听网卡
    cap_add:
      - NET_ADMIN
      - NET_RAW
      - SYS_NICE  # 必需的能力
    volumes:
      - ./suricata:/etc/suricata
      - ./suricata/logs:/var/log/suricata         # 挂载日志目录
    command: -i ens33  # 指定监听的网卡（需替换为实际网卡名）
    restart: always
    environment:
      TZ: Asia/Shanghai